<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DmsCore.Properties.Settings.dmstestConnectionString"
            connectionString="Data Source=192.168.1.24;Initial Catalog=dmstest;Persist Security Info=True;User ID=asd;Password=asd1302"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CompanyAccountXmlServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CompanyAccountXmlServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.nbs.rs/CommunicationOfficeService1_0/CompanyAccountXmlService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompanyAccountXmlServiceSoap"
                contract="NbsAccounts.CompanyAccountXmlServiceSoap" name="CompanyAccountXmlServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>